.all-courses{
    padding:0 2rem 1rem;
}

.courses-grid{
    max-width:1200px;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 1rem;
    margin:auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

@media (min-width:768px){
    .courses-grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width:992px){
    .courses-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}