.logo{
    width: 165px;
    height: 68px;
    margin: auto;
    display: block;
}

@media (min-width:768px) {
    .logo{
       margin: 0;
    }
}

.nav-header{
    background-color: #ffffff;
    padding: 1rem 2rem;
    box-shadow: 0 2px 2px #e7e7e7;
}

.navbar{
    max-width:1200px;
    margin:auto;
}