@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,400;1,500&display=swap');

*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #f1f1f1;
}

/* NAV */

nav{
    max-width:1200px;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    padding: 2rem 1rem;
}

.logo{
    width: 165px;
    height: 68px;
}

@media (min-width:768px) {
    .logo{
       margin: 0;
    }

    nav{
        padding-inline: 0 ;
        flex-direction: row;
    }
}

button{
    background-color: #679ef6;
    color: #ffffff;
    border: none;
    padding: .8rem;
    font-size: 1rem;
    margin-right: .5rem;
    border-radius: 5px;
    position: relative;
}

button:hover{
    background-color: orange;
    cursor: pointer;
}

/* GRID */

main{
    max-width:1200px;
    margin:auto;
    padding: 2rem 1rem;
}

@media (min-width:768px) {
    main{
        padding-inline: 0 ;
    }
}

.grid{
    margin:auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

@media (min-width:768px){
    .grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width:992px){
    .grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.card{
    background-color: #ffffff;
    border-radius: 7px;
    box-shadow: 0 5px 2px #e1e1e1;
    transition: all .5s;
}

.card:hover{
    cursor: pointer;
    box-shadow: 0 0px 2px 8px #e1e1e1;
}

.card img{
    width: 100%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.card h2,p{
    margin: 1rem;
}

.modal{
    position: fixed;
    left: 50%;
    top: 50%;
    background-color: #000000a2;
    width: 100%;
    height: 100%;
    z-index: 1;
    transform: translate(-50%, -50%) scale(0);
    transition: all 1s;
    display: grid;
    place-items: center;
}

.open{
    transform: translate(-50%, -50%) scale(1);
}

.modal-content{
    width: 90%;
    max-width: 500px;
    height: 80%;
    background-color: #fffefe;
    border-radius: 10px;
    overflow: auto;
}

.modal-content img{
    width: 100%;
}

.modal-content h2,h4{
    padding: 1rem ;
}

.close{
    position: absolute;
    right: 2rem;
    top: 1rem;
    background-color: rgb(253, 77, 77);
}

.close:hover{
    background-color: rgb(252, 252, 252);
    color: red;
}