@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,400;1,500&display=swap');

*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #BDCBE5;
}

/* NAV */

.logo{
    width: 165px;
    height: 68px;
    margin: auto;
    display: block;
}

@media (min-width:768px) {
    .logo{
       margin: 0;
    }
}

.nav-header{
    background-color: #abc0e7;
    padding: 1rem 2rem;
    box-shadow: 0 2px 2px #abc0e7;
    margin-bottom: 2rem;
}

.navbar{
    max-width:1200px;
    margin:auto;
}

.tab-container{
    padding: 0 2rem;
}

.nav-tabs{
    max-width:1200px;
    margin: 0 auto .4rem;
}

.tab-btn{
    background-color: #F2F5FA;
    border: none;
    padding: .8rem;
    font-size: 1rem;
    margin-right: .5rem;
    border-radius: 5px;
    position: relative;
}

.tab-btn:hover{
    background-color: #ffffff;
    cursor: pointer;
}

.active{
    color: #2B88E1;
    background-color: #ffffff;
}

.active::before{
    content: '';
    background-color: #ffffff;
    width: 100%;
    height: 1rem;
    position: absolute;
    left: 0;
    bottom: -10px;
}

/* GRID */

.my-courses{
    padding:0 2rem 1rem;
}

.courses-grid{
    max-width:1200px;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 1rem;
    margin:auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

@media (min-width:768px){
    .courses-grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width:992px){
    .courses-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}